.faq {
  width: 550px;
}

.faq__element {
  border-bottom: 2px solid #d2d2d2;
  padding: 15px 40px;
  padding-right: 0;
}

.faq__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__row h3 {
  font-weight: 500;
  font-size: 49.78px;
  line-height: 66px;
}

.faq__row div {
  margin-bottom: -2px;
}

.faq__elementHiddenContentWrapper {
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.3s ease-in-out;
}

.faq__elementHiddenContent div {
  font-weight: 400;
  font-size: 16.17px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 23.25px 0 60px 0;
  width: 423px;
}

.faq__elementHiddenContentWrapper_opened {
  max-height: 500px;
}
