.btn {
  width: 218.8px;
  height: 64px;
  background: #ffd531;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
  font-size: 15.805px;
  font-weight: 600;
  line-height: 19.01px;
}
