.pricingPlansSection {
  background-color: #000;
  color: #fff;
}

.pricingPlansSection__content {
  padding: 152px 169.91px 142px 170px;
  width: fit-content;
  margin: 0 auto;
}

.pricingPlansSection__content h2 {
  margin-bottom: 43.5px;
}

.pricingPlansSection__row {
  display: flex;
  gap: 47px;
}
