.accordion {
  width: 310px;
}

.accordion__ImgWrapper {
  position: relative;
  margin-bottom: 20px;
}

.accordion__toggleWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
}

.accordion__name {
  margin-bottom: 5px;
  font-size: 10.484px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.accordion__header {
  width: 257px;
  font-size: 19.69px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  margin-bottom: 22px;
}

.accordion__hiddenContentWrapper {
  max-height: 0;
  overflow: hidden;
  border-bottom: 2px solid #d2d2d2;

  transition: max-height 0.3s ease-in-out;
}

.accordion__hiddenContentWrapper_opened {
  max-height: 100px;
}

.accordion__hiddenContent {
  padding-bottom: 20px;
}
