.pricingPlan {
  width: 335px;
  border-top: 2px solid #d2d2d2;
  border-bottom: 2px solid #d2d2d2;
  padding-top: 52px;
  padding-bottom: 34px;
}

.pricingPlan h4 {
  font-weight: 600;
  font-size: 19.52px;
  line-height: 28px;
  margin-bottom: 20.51px;
}

.pricingPlan div {
  display: flex;
  font-weight: 500;
  font-size: 50.41px;
  line-height: 54px;
  margin-bottom: 22.01px;
}

.pricingPlan div span {
  font-weight: 600;
  font-size: 10.48px;
  line-height: 18px;
  margin-left: 6.89px;
  margin-top: 9px;
  text-transform: uppercase;
}

.pricingPlan p {
  width: 272px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 32.99px;
}

.pricingPlan ul {
  margin-left: 16px;
  margin-bottom: 30px;
}

.pricingPlan ul li {
  width: 277px;
  padding-left: 5px;
}

.pricingPlan ul li + li {
  margin-top: 10px;
}

.pricingPlan .pricingPlan__comment {
  margin-bottom: 54px;
}
