.sliderSection__content {
  padding: 248px 30px 60px;
  height: calc(100vw * (9 / 16));
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}

.sliderSection__imgSlider {
  position: absolute;
  z-index: -1;
  width: 100%;
  overflow: hidden;
}

.sliderSection__imgSlide {
  width: 100%;
}

.sliderSection__imgSlide img {
  width: 100%;
}

.sliderSection__slides {
  display: flex;
  transition: margin-left 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 300%;
}

.sliderSection__row {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 27px;
}

.sliderSection__leftArrow,
.sliderSection__rightArrow {
  width: 64px;
  height: 64px;
  background-image: url('../../assets/icons/arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.sliderSection__rightArrow {
  transform: rotate(180deg);
  margin-left: auto;
}

.sliderSection__textSlider {
  display: flex;
  width: 500px;
  overflow: hidden;
}

.sliderSection__textSlideContent {
  color: #fff;
  font-size: 77.273px;
  font-weight: 500;
  line-height: 98px;
  width: 500px;
}

.sliderSection__btn {
  margin-left: 95px;
  margin-top: 31px;
}

.sliderSection__sliderNavigation {
  width: fit-content;
  margin: 105px auto 0;
}
