.videoSection__content {
  padding: 128px 170px 105px;
  width: fit-content;
  margin: 0 auto;
}

.videoSection__content h2 {
  margin-bottom: 45px;
}

.videoSection__videoContainer {
  position: relative;
}

.videoSection__playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49.5%, -52%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffd531;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoSection__playButton span {
  width: 20px;
  height: 24px;
  background: url('../../assets/icons/play.svg');
  margin-left: 5px;
}
