* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, Arial, sans-serif;
}

.container {
  /* max-width: 1440px; */
  position: relative;
  margin: 0 auto;
}

h2 {
  font-weight: 500;
  font-size: 49.25px;
  line-height: 66px;
}

h3 {
  font-size: 19.359px;
  font-weight: 600;
  line-height: 28px;
}

a {
  text-decoration: none;
  color: unset;
}

::-webkit-scrollbar {
  width: 0px;
}
